
* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vh;
    background-image: url("background.png") ;
}

nav {
    height: 100vh;
    width: 20vh;
    background-color: #7D5C3F;
}

.big_container {
    flex-direction: row;
    display: flex;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #715640;
    font-size: 7vh;
    padding: 0vh 0vh 0vh 3vh;
  }

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #715640;
    text-decoration-line: underline;
    padding: 0vh 0vh 3vh 3vh;
    font-size: 5vh;
}

p1{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #715640;
    padding: 3vh;
}

#reviews {
    color: #D4CCB7;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration-line: underline;
    display: flex;
    flex-direction: column;
    background-color: #7d5c3f00;
    border-color: #00000000;
    padding: 2vh;
    font-size: 3vh;
    cursor: pointer;
}

#reviews:hover {
    color: #41465B;
}

#book {
    color: #D4CCB7;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration-line: underline;
    background-color: #7d5c3f00;
    border-color: #00000000;
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    padding: 2vh;
    cursor: pointer;
}

#book:hover {
    color: #41465B;
}

#home {
    color: #D4CCB7;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration-line: underline;
    background-color: #7d5c3f00;
    border-color: #00000000;
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    padding: 2vh;
    cursor: pointer;
}

#home:hover{
    color:  #41465B;
}

li {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #715640;
    text-decoration-line: underline;
    padding: 0vh 0vh 3vh 3vh;
    font-size: 2.5vh;
    list-style: none;
    
    
}


.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: -200px;
}

.comment-flexbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#bruh {
    color: #D4CCB7;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration-line: underline;
    background-color: #7d5c3f00;
    border-color: #00000000;
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    padding: 2vh;
    cursor: pointer;

}